body {
    padding-top: 82px;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Charm', cursive;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 1px;
}

.title {
    color: #25064c;
}

.title span {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;

    text-shadow: -1px 1px 0 #1473e6,
                 -2px 2px 0 #1473e6,
                 -3px 3px 0 #25064c,
                 -4px 4px 0 #25064c;
}

.title span::first-letter {
    color: #1473e6;
    text-shadow: -1px 1px 0 #25064c,
                 -2px 2px 0 #25064c,
                 -3px 3px 0 #1473e6,
                 -4px 4px 0 #1473e6;
}

.title span::before,
.title span::after {
    content: '';
    position: absolute;
    bottom: 2px;
}

.title span::before {
    left: 7px;
    width: 15px;
    height: 15px;
    border-bottom: 4px solid #1473e6;
    border-radius: 0 0 0 15px;
}

.title span::after {
    right: 0;
    left: 21px;
    height: 4px;
    background: linear-gradient(to right, #1473e6, #25064c);
    border-radius: 10px;
}

.category-design {
    display: inline-block;
    padding: 10px 30px;
    font-family: 'Charm', cursive;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(200deg, #1473e6, #25064c);
    border-radius: 20px;
}

/*
 * PAGE HEADER BLOCK START *************************************
 */

.page-header {
    display: flex;
    z-index: 25;
    position: relative;
    padding: 13px 0;
    padding-left: 20px;
}

.page-header::before,
.page-header::after {
    content: '';
    position: absolute;
    z-index: 25;
    right: 0;
    left: 68px;
    height: 4px;
}

.page-header::before {
    bottom: 0;
    background: linear-gradient(to right, #1473e6, #25064c);
}

.page-header::after {
    top: 0;
    background: linear-gradient(to left, #1473e6, #25064c);
}

.fixed-header {
    position: fixed;
    z-index: 25;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
}

.page-logo {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 180px;
    font-size: 30px;
    text-decoration: none;
    color: #25064c;
}

.page-logo::after {
    content: '';
    position: absolute;

}

.page-logo span {
    color: #1473e6;
}

.page-logo img {
    margin-right: 5px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    margin-left: 25px;
}

.navigation a {
    display: block;
    font-size: 18px;
    color: #25064c;
    text-decoration: none;
    transition: all .2s linear;
}

.navigation a:hover,
.navigation a:focus {
    color: #1473e6;
    transform: scale(1.3) rotate(2deg);
    outline: none;
}

.preview {
    background: url(../img/bg-team.jpg) center no-repeat;
    box-sizing: border-box;
    padding: 80px 0;
    background-size: cover;
}

.preview-item-container {
    position: relative;
    z-index: 10;
    padding: 20px 30px;
    border: 2px solid #1473e6;
    background: #262626;
    border-radius: 45px 0 45px 0;
}

.preview-item {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background: #262626;
    color: #dee9f1;
}

.preview-item::before,
.preview-item::after {
    content: '';
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    transition: all .4s linear;
    border-radius: 50px 0 50px 0;
}

.preview-item::before {
    top: -20px;
    left: -20px;
    background: linear-gradient(125deg, #25064c, #1473e6);
}

.preview-item::after {
    right: -20px;
    bottom: -20px;
    background: linear-gradient(135deg, #25064c, #1473e6);
}

.preview-item:hover::after,
.preview-item:hover::before {
    width: 85%;
    height: 85%;
}

.preview-title {
    margin-bottom: 50px;
    font-size: 60px;
    color: #1473e6;
    text-align: center;
}

.preview-title span {
    text-shadow: none;
}

.preview-content {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1473e6;
    text-align: justify;
}


.services {
    max-width: 1700px;
    padding: 40px 30px;
    margin: 0 auto;
}

.services-title {
    margin-top: 20px;
    text-align: center;
}

.services-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-item {
    width: 45%;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 4px #000;
    border-radius: 15px;
}

.services-container {
    width: 40%;
}

.services-item-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.services-item-title span {
    background: #fff;
    padding: 0 10px;
}

.services-item-title::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 20px;
    right: -4px;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #25064c, #1473e6);
}

.services-icon {
    display: block;
    font-size: 120px;
    text-align: center;
    color: #25064c;
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 2px 0 #1473e6,
                 -3px 3px 0 #25064c,
                 -4px 4px 0 #25064c,
                 -5px 5px 0 #1473e6,
                 -6px 6px 0 #1473e6;
    transition: all .4s linear;
}

.services-indicator-percent {
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Charm', cursive;
}

.services-indicator {
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    background: #dee9f1;
    border-radius: 5px;
}

.services-indicator::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    background: linear-gradient(to right, #25064c, #1473e6);
    border-radius: 25px;
}

.services-content {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    padding: 20px;
    text-align: justify;
}

.services-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #1473e6, #25064c);
}

.services-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 25px;
    background: #1473e6;
}


.approach {
    display: flex;
}

.approach-column {
    box-sizing: border-box;
    width: 40%;
    padding: 40px 20px;
    color: #dee9f1;
    background: #25064c;
}

.approach-content {
    width: 60%;
    margin-left: auto;
    text-align: justify;
}

.approach-title {
    width: 60%;
    margin-left: auto;
    font-size: 38px;
    text-align: right;
}

.approach-background {
    width: 60%;
    background: url(../img/approach.jpg) center no-repeat;
    background-size: cover;
}






.portfolio {
    padding-top: 20px;
}

.portfolio-title {
    padding-left: 65px;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    border-top: 2px solid #25064c;
    border-bottom: 2px solid #25064c;
    background: radial-gradient(#25064c, #1473e6);
}

.portfolio-item {
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    width: 33%;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.portfolio-item:hover .portfolio-image {
    transform: scale(1.2);
}

.portfolio-item:hover .portfolio-hover {
    opacity: 1;
}

.portfolio-image {
    display: block;
    margin: 0;
    transition: all 0.5s linear;
}

.portfolio-hover {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s linear;
}

.portfolio-item-title {
    width: 20%;
}

.portfolio-content {
    width: 80%;
    margin-left: auto;
    text-align: justify;
}



.reviews {
    padding: 40px 0;
}

.reviews-inner {

}

.reviews-title {
    margin-bottom: 80px;
    text-align: center;
}



.slider {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.slider-item {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.slider-image-container {
    width: 50%;
}

.slider-column {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 30px;
}

.slider-image {
    border-radius: 25px;
}

.slider-name {
    padding-right: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #25064c;
}

.slider-profession {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #25064c;
    background: #f8f8f8;
    border-radius: 5px;
}

.slider-rating {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0;
    color: #25064c;
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 3px 0 #25064c;
}

.slider-content {
    position: relative;
    padding: 20px 30px;
    text-align: justify;
}

.slider-quote {
    position: absolute;
    font-size: 24px;
    color: #25064c;
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 3px 0 #25064c;
}

.slider-quote-one {
    top: 0;
    right: 0;
}

.slider-quote-two {
    bottom: 0;
    left: 0;
}

.slider-pagination {
    position: relative;
    bottom: -30px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-pagination-item {
    margin: 0 5px;
}

.slider-pagination-button {
    padding: 0;
    border: none;
    width: 15px;
    height: 15px;
    background: #dee9f1;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
    outline: none;
}

.slider-pagination-button:hover,
.slider-pagination-button:focus {
    box-shadow: 0 0 5px 2px #25064c;
}

.slider-button-active {
    background: #25064c;
}

.slider-button-active:hover,
.slider-button-active:focus {
    box-shadow: none;
}

.slider-row {
    position: absolute;
    top: 30%;
    padding: 0;
    margin: 0;
    border: none;
    color: #25064c;
    font-size: 60px;
    background: none;
    cursor: pointer;
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 2px 0 #1473e6,
                 -3px 3px 0 #25064c,
                 -4px 4px 0 #25064c;
    transition: all 0.3s linear;
    outline: none;
}

.slider-row-prev {
    left: 40px;
}

.slider-row-next {
    right: 40px;
}

.slider-row:hover,
.slider-row:focus {
    transform: scale(1.1);
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 2px 0 #25064c;
}



.team {
    padding: 40px;
    background: url(../img/bg-team.jpg) no-repeat;
    background-size: cover;
}

.team-inner {
    max-width: 1600px;
    margin: 0 auto;
}

.team-title {
    margin-top: 0;
    color: #1473e6;
    text-align: center;
}

.team-title span {
    text-shadow: -1px 1px 0 #25064c,
                 -2px 2px 0 #25064c,
                 -3px 3px 0 #1473e6,
                 -4px 4px 0 #1473e6,
                 -5px 5px 0 #25064c,
                 -6px 6px 0 #25064c;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-item {
    width: 45%;
    margin-bottom: 80px;
    color: #fff;
}

.team-image {
    margin-bottom: 15px;
    border-radius: 15px;
}

.team-name {
    display: block;
    margin-bottom: 10px;
    font-family: 'Charm', cursive;
    font-size: 28px;
}

.team-content {
    margin-bottom: 40px;
    text-indent: 10px;
    text-align: justify;
}

.team-content::first-letter {
    font-size: 26px;
    font-family: 'Charm', cursive;
    color: #1473e6;
}

.team-social {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
}

.team-social li {
    margin: 0 10px;
}

.team-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #fff;
    border-radius: 50%;
    background: linear-gradient(280deg, #1473e6, #25064c);
    transition: all 0.2s linear;
    outline: none;
    text-shadow: -1px -1px 0 #25064c,
                 -2px -2px 0 #25064c,
                 -3px -3px 0 #25064c;
}

.team-social a:hover,
.team-social a:focus {
    transform: scale(1.2);
}



.blog {

}

.blog-title {
    text-align: center;
}

.blog-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
}

.blog-item {
    width: 45%;
    padding-bottom: 20px;
    border: 1px solid #aca499;
    margin-bottom: 60px;
    border-radius: 15px;
    box-shadow: 0 0 2px #25064c;
}

.blog-image {
    border-radius: 11px 11px 0 0;
}

.blog-item-title {
    position: relative;
    width: 50%;
    padding: 10px 20px;
    margin-top: -50px;
    margin-bottom: 5px;
    font-size: 24px;
    background: #fff;
    border-radius: 0 15px 0 0 ;
}

.blog-container {
    padding: 5px 20px;
    margin-top: 0;
}

.blog-content {
    margin-bottom: 30px;
    text-align: justify;
    text-indent: 15px;
}

.blog-content::first-letter {
    font-size: 26px;
    font-family: 'Charm', cursive;
    color: #1473e6;
}

.blog-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-date {
    font-family: 'Charm', cursive;
    color: #44433c;
}

.blog-link {
    position: relative;
    top: 25px;
    left: 20px;
    overflow: hidden;
    padding: 10px 35px;
    border-top: 1px solid #aca499;
    border-left: 1px solid #aca499;
    color: #25064c;
    text-decoration: none;
    border-radius: 15px 0 14px 0;
    transition: all 0.4s linear;
}

.blog-link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(200deg, #1473e6, #25064c);
    opacity: 0;
    transition: all 0.4s linear;
}

.blog-link:hover,
.blog-link:focus {
    color: #fff;
}

.blog-link:hover::before,
.blog-link:focus::before {
    opacity: 1;
}


/*
 * CONTACT BLOCK START ***************************************
 */

.contact {
    padding: 40px 0;
}

.contact-title {
    text-align: center;
}

.contact-form {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.contact-column {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 20px;
}

.contact-container {
    margin-bottom: 30px;
}

.contact-column-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.contact-label {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Charm', cursive;
    font-size: 20px;
    color: #25064c;
}

.contact-input-container {
    position: relative;
    padding: 2px;
    flex-grow: 1;
}

.contact-input-container-flex {
    display: flex;
}

.contact-input-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(185deg, #1473e6, #25064c);
    border-radius: 15px;
}

.contact-input {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
}

.contact-message {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 15px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #1473e6;
    font-family: 'Charm', cursive;
    font-size: 22px;
    letter-spacing: 0.04em;
    background: #fff;
    border-radius: 30px 0 30px 0;
    cursor: pointer;
    transition: all 0.4s linear;
}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(200deg, #1473e6, #25064c);
    border-radius: 25px 0 25px 0;
}

.button:hover,
.button:focus {
    color: #fff;
    border-color: #25064c;
    background: none;
    outline: none;
}

/*
 * PAGE FOOTER BLOCK START **********************************
 */

.page-footer {
    padding: 50px 0;
    color: #fff;
    background: #262626;
    background: linear-gradient(190deg,#000, #262626);
}

.page-footer-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.page-footer-column {
    box-sizing: border-box;
    width: 30%;
    padding: 10px 20px;
}

.page-footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
}

.page-footer-social li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.page-footer-social i {
    display: inline-block;
    font-size: 24px;
    margin-right: 20px;
}

.page-footer-title {
    margin-top: 0;
    font-size: 28px;
}

.page-footer-content {
    margin-bottom: 30px;
    text-align: justify;
}

.page-footer-form {

}

.page-footer-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #1473e6;
    margin-bottom: 20px;
    color: #25064c;
    border-radius: 25px;
}

.page-footer-button {
    display: inline-block;
    padding: 5px 25px;
    border: 2px solid #1473e6;
    font-family: 'Charm', cursive;
    font-size: 22px;
    color: #25064c;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
}


/*
 * MAIN BLOG START ***********************************************
 */

.main-blog {
    padding-top: 80px;
}

.main-blog-title {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 66px;
    text-align: center;
}

.main-blog-inner {
    display: flex;
    align-items: flex-start;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-blog-column {
    margin-right: 40px;
}

.main-blog-item {
    margin-bottom: 80px;
}

.main-blog-image {
    margin-bottom: 15px;
}

.main-blog-item-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #25064c;
    font-size: 32px;
    text-align: left;
    text-shadow: -1px 1px 0 #1473e6,
                 -2px 2px 0 #1473e6;
}

.main-blog-container {
    font-family: 'Charm', cursive;
}

.main-blog-container i {
    margin-right: 10px;
    color: #25064c;
    font-size: 24px;
}

.main-blog-category {
    margin-right: 10px;
    color: #25064c;
    text-decoration: none;
}

.main-block-group {
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
}

.main-blog-content {
    text-align: justify;
}

.main-blog-link {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #25064c;
}

.sidebar {
    flex-shrink: 0;
    width: 300px;
}

.widget {
    padding: 0 2px;
}

.widget-item {
    position: relative;
    padding: 15px 10px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
}

.widget-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(25deg, #25064c, #1473e6);
    border-radius: 10px;
}

.widget-form {
    position: relative;
    margin-bottom: 40px;
}

.widget-search {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    padding-right: 40px;
    border: 2px solid #1473e6;
}

.widget-search-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: none;
    margin: 0;
    color: #fff;
    font-size: 14px;
    /*background: #1473e6;*/
    background: linear-gradient(to right, #1473e6, #25064c);
    cursor: pointer;
}

.widget-title {
    color: #25064c;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}

.widget-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1473e6;
    border-radius: 0 0 10px 10px;
}

.widget-list a {
    text-decoration: none;
    color: #000;
}

.widget-list span {
    font-family: 'Charm', cursive;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px 20px;
    margin: 0;
    list-style: none;
}

.tags-list li {
    margin: 5px;
    flex-grow: 1;
}

.tags-list a {
    display: block;
    padding: 5px 15px;
    font-family: 'Charm', cursive;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(180deg, #1473e6, #25064c);
    border-radius: 5px;
    transition: all 0.2s linear;
}

.tags-list a:hover {
    transform: scale(1.1);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination-link {
    display: block;
    padding: 5px 10px;
    border: 2px solid #1473e6;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.pagination-design {
    position: relative;
    border: none;
    background: #fff;
    border-radius: 15px 0 15px 0;
}

.pagination-design::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -3px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(90deg, #1473e6, #25064c);
    border-radius: 18px 0 18px 0;
}

.pagination-next {
    border-radius: 0 15px 0 15px;
}

.pagination-next::before {
    border-radius: 0 18px 0 18px;
}


/*
 * SINGLE BLOG BLOCK START **********************************
 */

.single-post {

}

.single-post-title {
    margin-bottom: 10px;
    font-size: 44px;
    text-align: center;
}

.single-post-content {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
    text-indent: 15px;
}

.single-post-content::first-letter {
    font-family: 'Charm', cursive;
    font-size: 24px;
    color: #1473e6;
}


/*
 * COMMENTS BLOCK START ************************
 */

.comments {
    padding-top: 20px;
}

.comments-title {
    text-align: center;
}

.comments-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 40px;
    margin: 2px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 0 45px 0 45px;
}

.comments-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(30deg, #25064c, #1473e6);
    border-radius: 0 45px 0 45px;
}

.comments-image {
    margin-right: 30px;
    border-radius: 0 15px 0 15px;
}

.comments-column {

}

.comments-user-name {
    display: block;
    margin-bottom: 5px;
    font-family: 'Charm', cursive;
    font-size: 24px;
}

.comments-date {
    font-family: 'Charm', cursive;
    color: #44433c;
}

.comments-content {
    text-align: justify;
}

/*
 * COMMENT RESPOND BLOCK START ******************************
 */

.comment-respond {
    padding: 40px 0;
}

.comment-respond-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment-respond textarea {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 15px 20px;
    border: 2px solid #1473e6;
    margin-bottom: 20px;
}

.comment-respond input {
    box-sizing: border-box;
    width: 48%;
    padding: 10px 20px;
    border: 2px solid #1473e6;
    margin-bottom: 20px;
}

.comment-respond button {
    width: 100%;
}